// Block specific variables
$box-padding: 3em;

// Boxes
%make-appointment__block {
	color: $body-text-color;
	font-family: 'Asap', sans-serif;
	max-width: 18em;
	margin: 2em auto;
}

.make-appointment__block-contact-info {
	@extend %make-appointment__block;
	border-bottom: 1px solid $main-content-border-color;
	padding-bottom: 1em;
}

.make-appointment__block-call-me {
	@extend %make-appointment__block;
	text-align: left;
}

%make-appointment__block-header {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-top: 0;
	margin-bottom: 0.2em;
	font-size: 1em;
}

.make-appointment__block-header-call-me {
	@extend %make-appointment__block-header;
	margin-bottom: 0.7em;
}

.make-appointment__block-header-opening-hours {
	@extend %make-appointment__block-header;
	margin-top: 1em;
}

.make-appointment__block-content {
	margin-top: 0;
}

// Placeholders
%make-appointment__link {
	@extend %base-link;
	display: block;
}

%make-appointment__link-icon {
	@extend .fa;
	vertical-align: middle;
	font-size: 1em;
	color: rgba(0,0,0,0.3);
}

// Submodules
.make-appointment__phone-number {
	@extend %make-appointment__link;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0.2em;

	&:before {
		@extend %make-appointment__link-icon;
		content: "\f095";
		padding-right: 0.4em;
	}
}

.make-appointment__email {
	@extend %make-appointment__link;
	margin-bottom: 1em;

	&:before {
		@extend %make-appointment__link-icon;
		content: "\f003";
		padding-right: 0.5em;
	}
}

// Breakpoints

@media all and (min-width: $bp-medium-3) {
	.make-appointment__block-call-me {
		@include appointment-block(); // Couldn't use only @extend because it applied itself to non-breakpoint instances as well
		padding-left: $box-padding;
	}

	.make-appointment__block-contact-info {
		@include appointment-block();
		text-align: right;
		border-bottom: 0;
		border-right: 1px solid $main-content-border-color;
		padding-right: $box-padding;
		padding-bottom: 0;
	}
}