.bullet {
	box-sizing: border-box;
}

%bullet__point {
	width: 2.5em;
	height: 2.5em;
	border-radius: 100%;
	box-sizing: border-box;
	text-align: center;
	color: $dark-text-color;
}

.bullet__image {
	vertical-align: top;
	height: 100%;
}

.bullet__point--image {
	@extend %bullet__point;
}

.bullet__point--icon {
	@extend %bullet__point;

	&:before {
		content: "";
	}

	&.heart:before {
		vertical-align: middle;
		content: "\f08a";
	}

	&.telephone:before {
		vertical-align: middle;
		content: "\f095";
	}

	&.thumbsup:before {
		vertical-align: middle;
		content: "\f087";
	}

	&.envelope:before {
		vertical-align: middle;
		content: "\f0e0";
	}

	&.star:before {
		vertical-align: middle;
		content: "\f006";
	}
}

.bullet__text--primary{
	font-size: 1.1em;
	font-family: $headline-font;
}

.bullet__content {
	display: inline-block;
	vertical-align: top;
	font-family: $headline-font;
	font-size: 0.9em;
}