.bullet {
	box-sizing: border-box;
}

%bullet__point {
	@extend .fa;
	width: 2.5em;
	height: 2.5em;
	border-radius: 100%;
	box-sizing: border-box;
	text-align: center;
	color: $dark-text-color;
}

.bullet__image {
	vertical-align: top;
	height: 100%;

	&:before {
		@extend %bullet__point;
	}
}

.bullet__text--primary{
	font-size: 1.1em;
	font-family: $headline-font;
}

.bullet__content {
	display: inline-block;
	vertical-align: top;
	font-family: $headline-font;
	font-size: 0.9em;
}