/**
 * Mobile menu
 */

.main-menu {
	position: absolute;
	color: $light-text-color;
	background-color: $tertiary-dark-bg-color;
	width: $mobile-menu-width;
	font-family: 'Asap', sans-serif;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 0;
	@include transition(transform 350ms ease);
}

.main-menu--closed {
	overflow: hidden;
	max-height: 100%;
}

.main-menu--animate-left { // TODO: Remove if not to be used in JS
	@include transform(translate3d($mobile-menu-negative-width, 0, 0));
}

.main-menu--open {
	position: relative !important;
	width: auto !important;
}


// Menu items
.menu-items {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-item {
	font-size: 0.9em;
	padding: .4em 1.2em;
	display: block;
}

.menu-link {
	color: $light-text-color;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	display: block;
	font-weight: bold;

	&:hover {
		color: rgba(255,255,255,0.4);
	}
}

.menu-link--active {
	@extend .menu-link;
	font-weight: bold;
	position: relative;
	color: $secondary-light-text-color;

	&:after {
		@extend .fa;
		content: "\f053";
		position: absolute;
		right: 1em;
		top: 30%;
		display: inline-block;
		opacity: 0.4;
	}
}

// Logo
.menu__logo {
	@extend .logo;
	display: block;
	margin: 1.2em 0em;
	padding-bottom: 1.2em;
	border-bottom: 1px dashed rgba(255,255,255,0.3);
	text-align: center;
	font-size: 1.1em;
}

// Search
.menu__search {
	height: 3em;
	background: rgba(0,0,0,0.3);
	margin-top: 2em;
}

.menu__search-field {
	background: none;
	border: 0;
	height: 100%;
	padding: 0.5em 0.5em 0.5em 1em;
	font-size: 0.9em;
	width: 80%;
	color: $light-text-color;
	box-sizing: border-box;
}

.menu__button-search {
	background: none;
	border: 0;
	height: 100%;
	width: 18%;
	text-align: center;

	&:before {
		@extend %search-button;
		color: $light-text-color;
	}
}


// Mobile no-js menu
#main-nav:target + .wrapper { // TODO: ADD no-js class
	@include transform(translate3d($mobile-menu-negative-width, 0, 0));
}

#main-nav:target + .wrapper .button-open-menu {
	display: none;
}

#main-nav:target + .wrapper .button-close-menu {
	display: inline-block;
}

#main-nav:target + .wrapper .banner {
	left: 0;
}