// Variables
$bullet-info-max-height: 40px;


.offer {
	&:nth-child(even) {
		background-color: $dark-desaturated-bg-color;
		padding: 4.5em 0;

		.bullet__text--secondary:after {
			@include background-image(linear-gradient(to right, transparent 0, $dark-desaturated-bg-color 20%));
		}

		.bullet__point-inner {
			background-color: $bg-color;
		}
	}

	&:last-child {
		margin-bottom: 8em;
	}

	.ipsNestedCol {
		width: 100% !important; // Fix inline size
		margin-top: 3em;

		&:first-of-type {
			margin-top: 0;
		}
	}

	.ipWidget h2._title {
		border-left: 3px solid $dark-text-color;
		padding: 0;
		padding-left: 0.35em;
		margin-top: 0;
		margin-bottom: 0.5em;
		font-size: 2em;
		text-align: left;
		line-height: 0.9em;
		letter-spacing: 0.01em;
	}

	.ipsContainer {
		font-family: $main-font;
		font-weight: $main-normal;
	}

	.button-small {
		margin-top: 1.2em;
	}

	// Bullet
	.bullet {
		display: block;
		width: 100%;
		margin-bottom: 2em;
		font-family: $main-font;
		color: $body-text-color;

		&__point {
			display: inline-block;
			margin-right: 1.5em;
			box-sizing: border-box;

			&-inner {
				@extend %bullet__point;
				background-color: rgba(0,0,0,0.05);
				padding-top: 0.6em;
				@include size(3.1em 3.1em);
			}

			&-text--primary,
			&-text--secondary {
				display: block;
				font-family: $main-font;
			}

			&-text--primary {
				color: $dark-text-color;
				font-size: 1.6em;
				font-weight: $main-bold;
			}

			&-text--secondary {
				color: rgba(0,0,0,0.4);
				font-size: 0.7em;
				font-weight: $main-semibold;
				text-transform: uppercase;
				margin-top: -6px;
			}
		}

		&__content {
			@include calc(width, '75% - 1.5em');
		}

		&__text--primary {
			text-transform: uppercase;
			font-weight: $main-semibold;
			margin-top: 0.4em;
			margin-bottom: 0;
			font-size: 1.1em;
		}


		&__text--secondary {
			font-weight: $main-light;
			overflow: hidden;
			margin-top: 0.5em;
			max-height: $bullet-info-max-height;
			position: relative;
			@include transform(translateZ(0)); // Force into GPU layer
			@include transition(max-height 450ms ease-in-out);

			
			&:after {
				content: "...";
				font-family: $main-font;
				font-weight: $main-light;
				font-size: 1em;
				text-align: left;
				letter-spacing: 2px;
				@include background-image(linear-gradient(to right, transparent 0, $bg-color 20%));
				position: absolute;
				bottom: 0;
				right: 0;
				box-sizing: border-box;
				padding-left: 1.4em;
				padding-top: 0.3em;
				line-height: 1.5em;
				vertical-align: bottom;
				width: 90px;
				height: 1.5em;
				@include transition(opacity 600ms ease-in);
				opacity: 1;
			}

			&.expanded {
				word-break: normal;
				max-height: 500px;

				&:after {
					@include transition-duration(200ms);
					@include transition-timing-function(ease-out);
					opacity: 0;
				}
			}
		}
	}

	.button-small--secondary {
		margin-top: 1em;
		font-size: 0.9em;
	}

	.event-info {
		margin-top: 1em;
	}

	.event-info-group {
		display: inline-block;
		width: 50%;
		box-sizing: border-box;
		margin-left: -5px;

		&:first-child {
			margin-left: 0;
		}
	}

	.event__group-header {
		font-size: 1em;
		font-weight: $main-semibold;
	}

	.event__group-text {
		color: $emerald-color;
	}
}

// Breakpoints
@media all and (min-width: $bp-medium) {
	.offer {
		.bullet {
			display: inline-block;

			&__text--secondary {
				max-height: none;

				&:after {
					display: none;
				}
			}

			.event__read-more {
				display: none;
			}
		}
	}
}

@media all and (min-width: $bp-medium-2) {
	.offer {
		.ipWidget-Event {
			float: left;
			width: 47.5%;

			&:first-child {
				margin-right: 5%;
			}
		}

		.ipWidget h2._title {
			font-size: 2.5em;
			line-height: 1.1em;
		}
	}
}

@media all and (min-width: $bp-large) {
	.offer {
		&:nth-child(even) {
			.ipsNestedCol:first-of-type {
				float: right;

				.ipBlock {
					padding-right: 0;
					padding-left: 2em;
				}
			}
		}

		.ipsNestedCol {
			width: 45% !important; // Fix inline size
			margin-top: 0;

			&:first-of-type {
				width: 55% !important; // Fix inline size

				.ipBlock {
					padding-right: 2em;
				}
			}
		}

		.bullet {
			&__text--secondary {
				max-height: $bullet-info-max-height;

				&:after {
					display: inline-block;
				}
			}

			.event__read-more {
				display: block;
			}
		}

		.ipWidget-Event {
			float: none;
			width: 100%;
		}
	}
}

