.offer {
	&:nth-child(even) {
		background-color: rgba(0,0,0,0.03);
		padding: 4.5em 0;
	}

	&:last-child {
		margin-bottom: 8em;
	}

	.ipsNestedCol {
		width: 45% !important; // Fix inline size

		&:first-of-type {
			width: 55% !important; // Fix inline size

			.ipBlock {
				padding-right: 2em;
			}
		}
	}

	.ipWidget h2._title {
		border-left: 3px solid $dark-text-color;
		padding: 0;
		padding-left: 0.35em;
		margin-top: 0;
		margin-bottom: 0.5em;
		font-size: 2.5em;
		text-align: left;
		line-height: 1.1em;
		letter-spacing: 0.01em;
	}

	.ipsContainer {
		font-family: $main-font;
		font-weight: $main-normal;
	}

	.button-small {
		margin-top: 1.2em;
	}

	// Bullet
	.bullet {
		display: block;
		width: 100%;
		margin-bottom: 2em;
		font-family: $main-font;
		color: $body-text-color;

		&__point {
			display: inline-block;
			margin-right: 1.5em;
			box-sizing: border-box;

			&-inner {
				@extend %bullet__point;
				background-color: rgba(0,0,0,0.05);
				padding-top: 0.6em;
				@include size(3.1em 3.1em);
			}

			&-text--primary,
			&-text--secondary {
				display: block;
			}

			&-text--primary {
				color: $dark-text-color;
				font-size: 1.6em;
				font-weight: $main-bold;
			}

			&-text--secondary {
				color: rgba(0,0,0,0.3);
				font-size: 0.7em;
				font-weight: $main-semibold;
				text-transform: uppercase;
				margin-top: -6px;
			}
		}

		&__content {
			width: 75%;
		}

		&__text--primary {
			text-transform: uppercase;
			font-weight: $main-semibold;
			margin-top: 0.4em;
			margin-bottom: 0;
			font-size: 1.1em;
		}

		&__text--secondary {
			margin-top: 0.5em;
			font-weight: $main-light;
		}

		/*&__point--icon,
		&__point--image {
			background-color: rgba(0,0,0,0.05);
			color: $dark-text-color;
			font-size: 1.4em;
		}

		&__point--icon {
			padding-top: 0.5em;
			@include size(2.1em 2.1em);
		}*/
	}
}

// Breakpoints
@media all and (min-width: $bp-medium-2) {

	.offer .bullet {
		display: inline-block;
	}
}