.service__block {
	background-color: $bg-color;
	//padding: 1.8em 0.8em;
	box-sizing: border-box;
	margin-bottom: 1em;
	vertical-align: top;
	border-radius: 5px;

	p {
		max-width: 35em;
		padding: 0 0.5em;
		margin-left: auto;
		margin-right: auto;
		font-family: $main-font;
	}
}
.service__image-block {
	overflow: hidden;
	width: 100%;
	height: 100px;
}

.service__image {
	display: block;
	margin: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.service__title {
	min-height: 2.7em;
	margin: 1.8em auto 1em;
}

.service__title-row {
	@extend %headline;
	display: block;
	color: $dark-text-color;
	border-left: 4px solid $dark-text-color;
	padding-left: 0.7em;
	font-size: 1.25em;
	line-height: 1.15em;
	margin: 0;
}

.service__button-read-more {
	@extend %button-small;
	display: block;
	margin: 0;
}


// Breakpoints
@media all and (min-width: $bp-medium) and (max-width: $bp-large-3) {
	.service__block:nth-last-child(-n+2) {
		margin-bottom: 0;
	}
}

@media all and (max-width: $bp-medium) {
	.service__block {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media all and (min-width: $bp-medium) {
	.service__block {
		display: inline-block;
	}
}

@media all and (min-width: $bp-medium) and (max-width: $bp-large-2) {
	.service__block {
		width: 48%;

		&:nth-child(even) {
			margin-left: 1em;
		}
	}
}

@media all and (min-width: $bp-large-2) {
	.service__block {
		max-width: 15em;
		height: 27em;
		margin-left: 1.5em;
		margin-bottom: 0;
		position: relative;

		p {
			padding-right: 1em;
			padding-left: 1em;
		}

		&:first-of-type {
			margin-left: 0;
		}
	}

	.service__title {
		margin-left: 0;
	}
}