/**
 * Default layout
 */

.site-wrapper {
	position: relative;
}

.wrapper {
	background-color: $bg-color;
	z-index: 20; // Required for mobile menu to work
	position: relative; // Required for mobile menu to work
	@include transition (transform 350ms ease);
}

.section--centered {
	margin-left: auto;
	margin-right: auto;
}

.banner {
	position: relative;
	z-index: 10;
}

.main--banner-overlap {
	position: relative;
	z-index: 20;
}

.footer {
	position: relative;
	z-index: 30;
}

// Selection styling
*::selection,
*::-moz-selection {
	background-color: rgba($base-color, 0.75);
	color: white;
}

// Chrome frame for old browsers
.chromeframe {
	margin: 0;
	background: #ccc;
	color: black;
	padding: 0.2em 0;
	position: absolute;
	top: 0;
	display: block;
	z-index: 9999;
}