.footer .ipsContainer {
	font-family: $main-font;
}

.footer {
	.ipWidget-FooterBlock {
		@extend .footer__block;
	}

	a {
		@extend %base-link;
	}
}

/** Widget **/

.ipWidget {
	margin-bottom: 0;
	font-size: inherit;

	a {
		text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}
}

// Titles
.homepage .ipWidget h1,
.ipWidget h2._title, {
	@extend %big-headline;
	max-width: 100%;
	word-break: normal;
}

.ipbEmpty .ipWidget ._title {
	@extend %big-headline;
	font-size: 1.2em;
	margin-bottom: 0;
}

.ipWidget h3,
.ipWidget h4,
.ipWidget h5,
.ipWidget h6 {
	font-family: $main-font;
}

.like-on-facebook h3._title {
	margin-bottom: 1.5em;
	font-family: $main-font;
	font-weight: $main-bold;
	font-size: 1.2em;
	text-transform: uppercase;
	color: $body-text-color;
}

%widget__label {
	@extend %make-appointment__block-header;
	font-family: $main-font;
}

.ipWidget h3._title {
	@extend %widget__label;
}

.ipWidget-Heading {
	margin-top: 1em;
}

.ipbEmpty .ipWidget {
	text-align: center;
}

.ipsContainer {
	@extend %main-text;
}


// Form
.ipModuleForm .form-control {
	@extend .input-field;
	max-width: 100%;
	border-radius: 0;
	font-family: $main-font;
	font-weight: $main-normal;
	box-shadow: none;
	@include transition(none);

	&:focus {
		box-shadow: inherit;
	}
}

.ipModuleForm textarea.form-control {
	font-family: $main-font;
	font-weight: $main-normal;
}

.ipModuleForm .btn-default {
	@extend .button-small;
	border-radius: 0;
	box-shadow: none;
}

.ipModuleForm .radio,
.ipModuleForm .checkbox {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.form-group label {
	@extend %widget__label;
	margin-bottom: 0.6em;
}

.form-group .checkbox-field-label {
	text-transform: none;
	letter-spacing: 0;
}


// Buttons
.ipModuleForm .btn-default.button-positive--filled {
	@extend .button-positive--filled;
	font-size: 0.8em;
}

.ipWidget a.button-important--filled {
	color: white;
	text-decoration: none;
	font-weight: $main-normal;
}

.ipWidget a.button-small {
	display: block;
	color: white;
	margin: 0 auto;
	text-decoration: none;

	&:hover {
		color: $dark-text-color;
	}
}

.ipWidget a.button-small--secondary {
	display: block;
	color: $dark-text-color;;
	text-decoration: none;

	&:hover {
		color: white;
	}
}

.call-to-action-section .ipWidget .button-positive--filled {
	display: inline-block;
	margin-top: 2.3em;
	width: 15em;
	color: white;
	text-decoration: none;
}


// Images
.ipWidget .testimonial__image {
	@extend .testimonial__image;
}

.bullet-grid .ipWidget-Bullet {
	margin-bottom: 3em;
	text-align: center;
	box-sizing: border-box;

	&:last-child:after {
		display: none;
	}

	&:after {
		@extend %divider-stroke--thick;
		background-color: desaturate(darken($dark-desaturated-bg-color, 7%), 10%);
		width: 0.12em;
		height: 2em;
	}
}

.related-articles .ipsNestedCol {
	width: 100% !important; // Override inline style
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}

	.bullet {
		width: 100%;
	}
}

.related-articles .ipWidget-NestedColumns {
	margin: 0 auto;
	max-width: 25em;
}

.footer__block .ipWidget-Image img {
	max-width: 100px;
	margin-right: auto;
	margin-left: auto;
}

.service__block .ipWidget-Button {
	padding: 0 1em 1em;
	margin-top: 1.7em;
}

// Breakpoints
@media all and (min-width: $bp-small-2) {
	.homepage .ipWidget h1 {
		font-size: 1.9em;
	}
}

@media all and (min-width: $bp-medium) {
	// Buttons
	.service__block .ipWidget-Button {
		position: absolute;
		@include alignHorizontal();
		bottom: 1em;
		padding: 0;
		margin: 0;
	}
}

@media all and (min-width: $bp-medium-3) {
	.ipHasAdminPanel .bullet-grid .ipWidget-Bullet {
		width: 50%;
		vertical-align: top;
		display: inline-block;
		margin-right: -5px;
		margin-bottom: 1.5em;
	}

	.ipHasAdminPanel .bullet-grid .ipWidget-Bullet .bullet {
		width: 100%;
		margin-bottom: 0;
	}
}

@media all and (min-width: $bp-large) {
	.homepage .ipWidget h1 {
		font-size: 2.1em;
	}

	// Bullets
	.testimonials__article .ipWidget-Bullet:nth-child(odd) {
		.bullet__image {
			float: right;
		}

		.bullet__content {
			padding-left: 0;
		}

		.bullet__text--secondary {
			color: $dark-text-color;
		}
	}

	.bullet-grid .ipWidget-Bullet {
		width: 50%;
		display: inline-block;
		margin-right: -5px;
		margin-bottom: 2em;
		padding: 0;
		padding-right: 2.5em;
		text-align: left;

		&:after {
			display: none;
		}
	}

	.related-articles .ipsNestedCol {
		width: 33.33% !important; // Override inline style
		margin-bottom: 0;
	}

	.related-articles .ipWidget-NestedColumns {
		max-width: none;
	}
}