.footer .ipsContainer {
	font-family: $main-font;
}

.footer {
	.ipWidget-FooterBlock {
		@extend .footer__block;
	}

	a {
		@extend %base-link;
	}
}

/** Widget **/

.ipWidget {
	margin-bottom: 0;
	font-size: inherit;

	a {
		text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}
}

// Titles
.homepage .ipWidget h1,
.ipWidget h2._title, {
	@extend %big-headline;
	max-width: 100%;
}

.ipbEmpty .ipWidget ._title {
	@extend %big-headline;
	font-size: 1.2em;
	margin-bottom: 0;
}

%widget__label {
	@extend %make-appointment__block-header;
	font-family: $main-font;
}

.ipWidget h3._title {
	@extend %widget__label;
}

.ipModuleForm .field-label {
	@extend %widget__label;
	margin-bottom: 0.6em;
}

.ipWidget-Heading {
	margin-top: 1em;
}

.ipbEmpty .ipWidget {
	text-align: center;
}

.ipsContainer {
	@extend %main-text;
}

// Form
.ipModuleForm .form-control {
	@extend .input-field;
	max-width: 100%;
	border-radius: 0;
	font-family: $main-font;
	font-weight: $main-normal;
	box-shadow: none;
	@include transition(none);

	&:focus {
		box-shadow: inherit;
	}
}

.ipModuleForm textarea.form-control {
	font-family: $main-font;
	font-weight: $main-normal;
}

.ipModuleForm .btn-default {
	@extend .button-small;
	border-radius: 0;
	box-shadow: none;
}

.ipModuleForm .radio,
.ipModuleForm .checkbox {
	display: inline-block;
	margin: 0;
	padding: 0;
}

// Buttons
.ipModuleForm .btn-default.button-positive--filled {
	@extend .button-positive--filled;
	font-size: 0.8em;
}

// Images
.ipWidget .testimonial__image {
	@extend .testimonial__image;
}

// Breakpoints
@media all and (min-width: $bp-small-2) {
	.homepage .ipWidget h1 {
		font-size: 1.9em;
	}
}

@media all and (min-width: $bp-medium-3) {
	.main__article .ipWidget-Text .ipsContainer {
		@include columns(2);
		@include column-gap(7em);
	}
}

@media all and (min-width: $bp-large) {
	.homepage .ipWidget h1 {
		font-size: 2.1em;
	}
}