// Headings
.ipWidget h1 {
	@extend %big-headline;
	max-width: 10em;
	font-size: 3.3em;
	text-align: left;
	letter-spacing: 0;
	line-height: 1.2em;
	margin-left: 0;
	margin-bottom: 1em;
	box-sizing: border-box;
	@include hyphens(auto);
}

// Breakpoints
@media all and (min-width: $bp-small-2) {
	.ipWidget h1 {
		font-size: 4em;
		margin-bottom: 0.7em;
	}
}