/*
 * Imports
 */
@import "bourbon";

@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/helpers';
@import 'utils/flex';
@import 'utils/font-awesome';
@import 'utils/grid';

@import 'atoms/fonts';
@import 'atoms/links';
@import 'atoms/logo';
@import 'atoms/icons';
@import 'atoms/buttons';
@import 'atoms/dividers';
@import 'atoms/headlines';
@import 'atoms/form-field';
@import 'atoms/layout';
@import 'atoms/rate';
@import 'atoms/checkbox';

@import 'molecules/mobile-menu';
@import 'molecules/banner-menu';
@import 'molecules/services';
@import 'molecules/appointment-block';
@import 'molecules/testimonial';
@import 'molecules/footer-block';
@import 'molecules/bullet';
@import 'molecules/related-article';
@import 'molecules/alert';
@import 'molecules/employee';
@import 'molecules/like-on-facebook';
@import 'molecules/breadcrumbs';
@import 'molecules/offer';
@import 'molecules/containers';
@import 'molecules/package';
@import 'molecules/quote';

@import 'organisms/banner';
@import 'organisms/header';
@import 'organisms/main-content';
@import 'organisms/services-section';
@import 'organisms/make-appointment';
@import 'organisms/testimonials';
@import 'organisms/footer';
@import 'organisms/side-info';
@import 'organisms/call-to-action';
@import 'organisms/related-articles';
@import 'organisms/testimonials-article';
@import 'organisms/submit-testimonial';
@import 'organisms/employee-info';
@import 'organisms/contact-main';
@import 'organisms/map-section';
@import 'organisms/send-email';
@import 'organisms/packages';
@import 'organisms/prices';

@import 'plugins/bxslider';
@import 'plugins/search';

@import 'templates/default-layout';
@import 'templates/impresspages';
@import 'templates/subpage';

/* Preload banner */
body:after{
	display:none;
	content: image-url('girl-sunset.jpg');
}

/* General styling */
body {
	text-align: left;
	line-height: 1.5em;
	font-size: 100%;
	font-family: $main-font;
	background: white;
	color: black;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button, input, select, textarea {
	font-family: $main-font;
	font-weight: $main-light;
	letter-spacing: 0.01em;
}

img {
	vertical-align: middle;
}