/*
 * Imports
 */
@import "bourbon"; // TODO: Remove?

@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/helpers';
@import 'utils/flex';
@import 'utils/font-awesome';
@import 'utils/grid';

@import 'atoms/fonts';
@import 'atoms/links';
@import 'atoms/icons';
@import 'atoms/logo';
@import 'atoms/buttons';
@import 'atoms/dividers';
@import 'atoms/headlines';
@import 'atoms/form-field';

@import 'molecules/mobile-menu';
@import 'molecules/banner-menu';
@import 'molecules/services';
@import 'molecules/appointment-block';
@import 'molecules/testimonial';
@import 'molecules/footer-block';

@import 'organisms/banner';
@import 'organisms/header';
@import 'organisms/main-content';
@import 'organisms/services-section';
@import 'organisms/make-appointment';
@import 'organisms/testimonials';
@import 'organisms/footer';

@import 'templates/default-layout';
@import 'templates/impresspages';

/* Preload banner */
body:after{
	display:none;
	content: image-url('banner.png');
}

/* General styling */
body {
	text-align: left;
	line-height: 1.5em;
	font-size: 100%;
	font-family: 'Asap', sans-serif, Arial, Verdana, Helvetica, 'Times New Roman';
	background: white;
	color: black;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button, input, select, textarea {
	font-family: 'Asap', sans-serif;
}

img {
	vertical-align: middle;
}