.footer {
	background-color: $dark-desaturated-bg-color;
	color: darken($dark-desaturated-bg-color, 70%);
	font-family: $main-font;
	padding: 0 1em 2em 1em;
	text-align: center;
	box-sizing: border-box;
}

.footer__contact-info {
	margin: 0 auto;
}

.footer__heart-icon {
	@extend %logo;
	margin: -22px auto 0.5em auto;
	display: inline-block;
	line-height: 1.1em;
	vertical-align: middle;

	&:before {
		@extend %logo-icon;
		content: "";
		background-position: center center;
		@include size(45px 45px);
		padding: 0;
		margin-right: 0;
		background-size: 25px 25px;
		background-color: $dark-text-color;
		border-radius: 100%;
	}
}

.footer__copyright {
	text-transform: uppercase;
	font-size: 0.85em;
	color: rgba(0,0,0,0.5);
	letter-spacing: 0.2em;

	&:after {
		background-color: rgba(0,0,0,0.15);
		vertical-align: middle;
		content: "";
		width: 4em;
		height: 0.1em;
		display: block;
		margin: 2em auto 3.5em auto;
	}
}