.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	padding: 1em;
	box-sizing: border-box;
	@include transition(all 0.4s ease-in-out);
	background-color: $header-bg-color;
}

.headroom {
	background-color: $header-bg-color;
}

.headroom--not-top {
	background-color: $header-bg-color;
	padding-top: 1em;
	padding-bottom: 1em;
}

.headroom--pinned {
	@include transform (translateY(0%));
}

.headroom--unpinned {
	@include transform (translateY(-100%));
}

// Move header down in edit mode
.ipHasAdminNavbar .site-header {
	top: 2.5em;
}

.ipHasAdminPanel .site-header {
	top: 9.2em;
}

@media all and (min-width: $bp-small) {
	.site-header {
		padding-left: 2em;
		padding-right: 2em;
	}
}

@media all and (min-width: $bp-medium-2) {
	.site-header {
		padding-top: 2.4em;
		padding-bottom: 2.4em;
	}

	.headroom.headroom--not-top {
		padding-top: 1em;
		padding-bottom: 1em;
	}
}