%fixed-position {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
}

.site-header {
	padding: 1em;
	box-sizing: border-box;
	@include transition(all 0.4s ease-in-out);
	background-color: $header-bg-color;
}

.homepage .site-header {
	@extend %fixed-position;
}

.headroom {
	background-color: $header-bg-color;
}

.headroom--not-top {
	@extend %fixed-position;
	background-color: $header-bg-color;
	padding-top: 1em;
	padding-bottom: 1em;
}

.headroom--pinned {
	@include transform (translateY(0%));
}

.headroom--unpinned {
	@include transform (translateY(-100%));
}

.headroom--not-top.headroom--pinned {
	opacity: 1;
}

.headroom--not-top.headroom--unpinned {
	opacity: 0;
	@include transition(opacity 0.4s, height 0.4s, ease-in-out);
}

.headroom--top.headroom--pinned {
	opacity: 1;
}

// Move header down in edit mode
.ipHasAdminNavbar .site-header {
	top: 2.5em;
}

.ipHasAdminPanel .site-header {
	top: 9.2em;
}

@media all and (min-width: $bp-small) {
	.site-header {
		padding-left: 2em;
		padding-right: 2em;
	}
}

@media all and (min-width: $bp-medium-2) {
	.site-header {
		padding-top: 2.4em;
		padding-bottom: 2.4em;
		//height: 110px;
	}

	.headroom.headroom--not-top {
		padding-top: 1em;
		padding-bottom: 1em;
		//height: 70px;
	}
}