.main {
	background: $bg-color;

	/*
	 * I know, it's ugly, but adding classes to every paragraph
	 * is not an option when writing content in a CMS.
	 */
	p > a {
		@extend %base-link;
	}
}

%main-text {
	color: $body-text-color;
	font-family: $body-font;
	font-size: 1.05rem;
}

%centered-section {
	@extend .main__section;
	max-width: 48em;
	margin-right: auto;
	margin-left: auto;
}

.main__section {
	@extend %main-text;
}

.main__section--centered {
	@extend %centered-section;
	padding-right: 1em;
	padding-left: 1em;
}

.section--centered {
	@extend %centered-section;
}

.main__image--centered {
	display: block;
	margin: -65px auto 3.5em auto; // Height is fixed at 130px (130/2 == 65)
	border: 0.5em solid $bg-color;
	border-radius: 100%;
	@include filter(#{'grayscale(100%)'});
}

.main__h2 {
	@extend %headline;
	color: $dark-text-color;
	font-size: 1.5em;
	text-align: center;
	line-height: 1.3em;
	margin: 0.5em 0 1em 0;
	letter-spacing: 0.1em;
}

.main__article {
	margin-top: 6em;
}

// Breakpoints
@media all and (min-width: $bp-small-2) {
	.main__h2 {
		font-size: 1.9em;
	}
}

@media all and (min-width: $bp-large) {
	.main__h2 {
		font-size: 2.1em;
	}
}