.make-appointment {
	text-align: center; // Used to center content, overridden in blocks

	.ipsContainer {
		font-family: 'Asap', sans-serif;
	}

	.ipWidget p {
		margin-bottom: 0;
	}
}

.make-appointment__field {
	@extend .input-field;
}

.make-appointment__button {
	@extend .button-small;
	display: block;
	margin-top: 1.5em;
}