.make-appointment {
	text-align: center; // Used to center content, overridden in blocks

	.ipsContainer {
		font-family: $main-font;
	}

	.ipWidget p {
		margin-bottom: 0;

		strong {
			font-weight: $main-semibold;
		}
	}

	.ipWidget a {
		@extend %base-link;
	}

	// Bullet...
	.bullet {
		width: 100%;
		margin-bottom: 1em;
		color: $body-text-color;

		&__image {
			display: block;
			margin: 0 auto 1em auto;
			width: 4em;
		}

		&__point--icon,
		&__point--image {
			font-size: 1.6em;
			background-color: $bg-color;
		}

		&__point--icon {
			padding-top: 0.75em;
		}

		&__point--image {
			@include size(1.8em);
		}

		&__text--primary {
			font-weight: $headline-bold;
			text-transform: uppercase;
			color: rgba(#000, 0.7);
			margin: 0;
			padding-top: 0.3em;
		}

		&__text--secondary {
			margin-top: 0.3em;
		}

		&__content {
			width: 75%;
		}

		// Breakpoints
		@media all and (min-width: $bp-medium-3) {
			&__image {
				display: inline-block;
				margin: 0;
				float: right;
			}
		}
	}

	// Make appointment...
	&__field {
		@extend .input-field;
	}

	&__button {
		@extend .button-small;
		display: block;
		margin-top: 1.5em;
	}
}

