.services {
	background-color: $dark-desaturated-bg-color;
	margin-top: 10em;
	margin-bottom: 6em;
	padding: 2.5em 1em 3.5em;
	box-sizing: border-box;

	.section--centered {
		margin: 0 auto;
	}

	.main__h2 {
		color: $body-text-color;
		text-align: center;
	}
}

// Breakpoints
@media all and (min-width: $bp-small-2) {
	.services .section--centered {
		text-align: center;
	}
}

@media all and (min-width: $bp-medium) {
	.services .section--centered {
		max-width: 49em;
	}
}

@media  all and (min-width: $bp-large) {
	.services .section--centered {
		max-width: 54em;
	}
}