.side-info {
	background-color: $dark-desaturated-bg-color;
	padding-top: 2em;
	margin-top: 10em;

	.main__h2:after {
		@extend %divider-stroke--thick;
		background-color: desaturate(darken($dark-desaturated-bg-color, 7%), 10%);
	}
}

.bullet-grid {
	padding-top: 3.5em;
	padding-bottom: 3.5em;
}