.side-info {
	background-color: $dark-desaturated-bg-color;
	padding-top: 2em;
	margin-top: 10em;

	.main__h2:after {
		@extend %divider-stroke--thick;
		background-color: desaturate(darken($dark-desaturated-bg-color, 7%), 10%);
	}
}

.bullet-grid {
	padding-top: 3.5em;
	padding-bottom: 3.5em;
}

.bullet-grid .bullet__image {
	display: block;
	margin: 0 auto 1em auto;
	width: 4em;
}

.bullet-grid .bullet__point--icon,
.bullet-grid .bullet__point--image {
	font-size: 1.6em;
	background-color: $bg-color;
}

.bullet-grid .bullet__point--icon {
	padding-top: 0.75em;
}


.bullet-grid .bullet__text--primary {
	font-weight: $headline-bold;
	text-transform: uppercase;
	color: rgba(#000, 0.7);
	margin: 0;
	padding-top: 0.3em;
}

.bullet-grid .bullet__text--secondary {
	margin-top: 0.3em;
}

.bullet-grid .bullet__content {
	width: 75%;
}



// Form
.side-info .form-group label {
	display: block;
}

.side-info .form-group .rate-label {
	display: inline-block;
	margin-bottom: 0;
}

.side-info .ipModuleForm {
	max-width: 27em;
	margin: 0 auto;
}

.side-info .input-field,
.checkbox-field-label:before {
	background-color: $bg-color;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.13);
	border-right: 1px solid rgba(0,0,0,0.13);

	&:focus {
		border-bottom: 1px solid rgba(0,0,0,0.13);
		border-right: 1px solid rgba(0,0,0,0.13);
	}
}

.side-info .ipModuleForm .form-group {
	margin-bottom: 1.5em;
}

.side-info .button-positive--filled {
	width: 16em;
	height: 3.7em;
	padding-top: 1.5em;
	margin: 4em auto 0 auto;
	display: block;
	letter-spacing: 0.1em;
	font-size: 0.9rem;
}



// Breakpoints
@media all and (min-width: $bp-large) {
	.bullet-grid .bullet__image {
		display: inline-block;
		margin: 0;
	}

	.bullet-grid .bullet__content {
		padding-left: 1em;
	}
}