/**
 * Variables
 */

// Base colors
$base-color: #9E372F; //#B63F3F;
$positive-color: #7D9C5B; //#589052;

// Background colors
$bg-color: #fffcf7;
$dark-bg-color: #F5EDE2;
$secondary-dark-bg-color: #433039;
$tertiary-dark-bg-color: #351F29;

// Text colors
$light-text-color: #fff8e6;
$secondary-light-text-color: #efd5ac;
$tertiary-light-text-color: #fff;
$dark-text-color: #C65454;
$secondary-dark-text-color: #A9585B;
$tertiary-dark-text-color: darken($secondary-dark-bg-color, 10%);
$body-text-color: #565a67;

// Borders
$main-content-border-color: #d6d3cf;

// Buttons
$button-positive-color: $positive-color;

//Links
$link-color: #7D9E77;
$link-hover-color: darken($link-color, 20%);
$link-visited-color: #a3679a;
$link-visited-hover-color: darken($link-visited-color, 20%);

//Logo
$logo-color: #efefef;

// Header
$header-bg-color: #85332C;

// Mobile
$mobile-menu-width: 15em;
$mobile-menu-negative-width: -15em;

// Paths
$font-path: '../../fonts';

// Main Breakpoints
$bp-small: 25em;
$bp-small-2: 33em;

$bp-medium: 36em;
$bp-medium-2: 40.5em;
$bp-medium-3: 45em;

$bp-large: 52em;
$bp-large-2: 60em;
$bp-large-3: 70em;

// Typefaces
$main-font: 'Hind', sans-serif, Helvetica, Arial, Verdana, 'Times New Roman';
$main-bold: 700;
$main-semibold: 600;
$main-medium: 500;
$main-normal: 400;
$main-light: 300;

$headline-font: $main-font;
$headline-bold: $main-bold;
$headline-semibold: $main-semibold;
$headline-medium: $main-medium;
$headline-normal: $main-normal;
$headline-light: $main-light;

$button-font: $main-font;

$body-font: 'Cambo', serif, 'Times New Roman';
$body-normal: 400;

$quote-font: 'Libre Baskerville', serif;
$quote-bold: 700;
$quote-normal: 400;