// Button important
%base-button {
	line-height: 1em;
	font-family: 'Asap', 'sans-serif';
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
	background-color: transparent; // Remove button element base styling
}

.button-important {
	@extend %base-button;
	border: 3px solid #000;
	height: 3.5em;
	padding: 1.1em;
	font-size: 0.95em;
	letter-spacing: 0.05em;

	&:hover {
		background-color: #000;
		border: 0;
		color: white;
	}
}

.button-small {
	@extend %base-button;
	padding: 0.8em;
	width: 9.5em;
	height: 2.8em;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	border: 2px solid $dark-text-color;
	color: $dark-text-color;

	&:hover {
		background-color: $dark-text-color;
		padding: 1em;
		color: white;
		border: 0;
	}
}