// Button important
.button-important {
	border: 3px solid #000;
	height: 1.5em;
	padding: 0.8em;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.05em;

	&:hover {
		background-color: #000;
		border-color: #000;
		color: white;
	}
}