// Button important
%base-button {
	line-height: 1em;
	font-family: $button-font;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
	background-color: transparent; // Removes button element base styling
}

.button-important {
	@extend %base-button;
	border: 3px solid #000;
	height: 3.5em;
	padding: 1.1em;
	font-size: 0.95em;
	letter-spacing: 0.05em;

	&:hover {
		background-color: #000;
		border: 0;
		color: white;
	}
}

// TODO: Make button mixins with calc for borders/height?
.button-important--filled {
	@extend .button-positive;
	color: white;
	background-color: $button-positive-color;
	border: 0;
	padding: 1.3em;

	&:hover {
		background: none;
		padding: 1.3em;
	}
}

.button-positive {
	@extend .button-important;
	color: $button-positive-color;
	border-color: $button-positive-color;

	&:hover {
		background-color: $button-positive-color;
		padding: 1.3em 1.1em;
	}
}

.button-positive--filled {
	@extend .button-positive;
	color: white;
	font-size: 1rem;
	font-weight: $main-light;
	background-color: $button-positive-color;
	border: 0;
	padding: 1.3em;
	border-bottom: 3px solid darken($button-positive-color, 9%);

	&:hover {
		background: darken($button-positive-color, 10%);
		border: 0;
		border-bottom: 3px solid darken($button-positive-color, 17%);
	}
}

.button-small--secondary {
	@extend %base-button;
	border: 2px solid $dark-text-color;
	color: $dark-text-color;
	padding: 0.8em;
	background: none;
	box-shadow: none;
	width: 9.5em;
	height: 2.8em;
	font-size: 0.8em;
	letter-spacing: 0.1em;

	&:hover {
		background-color: $dark-text-color;
		padding: 1em;
		color: white;
		border: 0;
	}
}

.button-small {
	@extend %base-button;
	width: 9.5em;
	height: 2.8em;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	background-color: $dark-text-color;
	padding: 1em;
	color: white;
	border: 0;

	&:hover {
		border: 2px solid $dark-text-color;
		color: $dark-text-color;
		padding: 0.8em;
		background: none;
		box-shadow: none;
	}
}

%search-button {
	@extend .fa;
	content: "\f002";
	display: inline-block;
}

// Social media
.button-facebook--filled {
	padding: 0;
	display: inline-block;
	height: 3.5rem;

	&:before {
		@extend .fa;
		background-color: darken($facebook-color, 10%);
		border-bottom: 3px solid darken($facebook-color, 16%);
		width: 3.2rem;
		height: 100%;
		content: "\f09a";
		padding: 0.7em 0.9em;
		margin-right: -5px; // Remove inline-block margin
		vertical-align: top;
		text-align: center;
		font-size: 1.4em;
		color: white;
		box-sizing: border-box;
	}

	.button__text {
		@extend .button-important--filled;
		background-color: $facebook-color;
		font-weight: $main-semibold;
		color: white;
		height: 100%;
		display: inline-block;
		border-bottom: 3px solid darken($facebook-color, 8%);
	}

	.button__text:hover {
		padding: 1.3em;
	}

	&:hover .button__text {
		background-color: darken($facebook-color, 10%);
		border-bottom: 3px solid darken($facebook-color, 16%);
	}

	&:hover:before {
		background-color: $facebook-color;
		border-bottom-color: darken($facebook-color, 8);
	}
}