.divider {
	text-align: center;
	margin: 0 auto;

	&:before,
	&:after {
		display: inline-block;
		width: 3em;
		content: "";
		height: 0.1em;
		background-color: $light-text-color;
		margin-bottom: 0.3em;
	}

	&:before {
		margin-right: 0.8em;
	}

	&:after {
		margin-left: 0.8em;
	}
}

.divider__symbol:before {
	@extend .fa;
	font-size: 0.7em;
	content: "\f004";
}

%divider-stroke--thick {
	content: "";
	display: block;
	margin: 0.8em auto 1.5em auto;
	width: 2em;
	height: 0.15em;
	background-color: rgba(0,0,0,0.2);
}