/**
 * Fonts 
 */
@font-face {
	font-family: 'Cambo';
	font-style: normal;
	font-weight: 400;
	src: local('Cambo'), local('Cambo-Regular'), url(http://fonts.gstatic.com/s/cambo/v4/svHugj7NIrTQRq-kuQ9YEKCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
	font-family: 'Libre Baskerville';
	font-style: normal;
	font-weight: 400;
	src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://fonts.gstatic.com/s/librebaskerville/v3/pR0sBQVcY0JZc_ciXjFsK5gtRqbDAavNCEBluaoIIJc.woff) format('woff');
}
@font-face {
	font-family: 'Libre Baskerville';
	font-style: normal;
	font-weight: 700;
	src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(http://fonts.gstatic.com/s/librebaskerville/v3/kH7K4InNTm7mmOXXjrA5v5HBV7zGPK_SGwFjOykAVjn3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
}
@font-face {
	font-family: 'Libre Baskerville';
	font-style: italic;
	font-weight: 400;
	src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(http://fonts.gstatic.com/s/librebaskerville/v3/QHIOz1iKF3bIEzRdDFaf5SO-5kXrvlsa0llgP70kI5w.woff) format('woff');
}

// Hind
@font-face {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 300;
	src: url('http://fonts.gstatic.com/s/hind/v5/6JVaCO6DMjER23G0EdekVwLUuEpTyoUstqEm5AMlJo4.eot');
	src: local('Hind Light'),
	local('Hind-Light'),
	url('http://fonts.gstatic.com/s/hind/v5/6JVaCO6DMjER23G0EdekVwLUuEpTyoUstqEm5AMlJo4.eot?#iefix') format('embedded-opentype'),
	url('http://fonts.gstatic.com/s/hind/v5/6JVaCO6DMjER23G0EdekVwLUuEpTyoUstqEm5AMlJo4.woff') format('woff'),
	url('http://fonts.gstatic.com/s/hind/v5/6JVaCO6DMjER23G0EdekVwLUuEpTyoUstqEm5AMlJo4.ttf') format('truetype');
}
@font-face {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 400;
	src: url('http://fonts.gstatic.com/s/hind/v5/i-YTZmu6yD9xk50jvez_kvesZW2xOQ-xsNqO47m55DA.eot');
	src: local('Hind Regular'),
	local('Hind-Regular'),
	url('http://fonts.gstatic.com/s/hind/v5/i-YTZmu6yD9xk50jvez_kvesZW2xOQ-xsNqO47m55DA.eot?#iefix') format('embedded-opentype'),
	url('http://fonts.gstatic.com/s/hind/v5/i-YTZmu6yD9xk50jvez_kvesZW2xOQ-xsNqO47m55DA.woff') format('woff'),
	url('http://fonts.gstatic.com/s/hind/v5/i-YTZmu6yD9xk50jvez_kvesZW2xOQ-xsNqO47m55DA.ttf') format('truetype');
}
@font-face {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 500;
	src: url('http://fonts.gstatic.com/s/hind/v5/-qTvGPyujbksoDAyFHG-WgLUuEpTyoUstqEm5AMlJo4.eot');
	src: local('Hind Medium'),
	local('Hind-Medium'),
	url('http://fonts.gstatic.com/s/hind/v5/-qTvGPyujbksoDAyFHG-WgLUuEpTyoUstqEm5AMlJo4.eot?#iefix') format('embedded-opentype'),
	url('http://fonts.gstatic.com/s/hind/v5/-qTvGPyujbksoDAyFHG-WgLUuEpTyoUstqEm5AMlJo4.woff') format('woff'),
	url('http://fonts.gstatic.com/s/hind/v5/-qTvGPyujbksoDAyFHG-WgLUuEpTyoUstqEm5AMlJo4.ttf') format('truetype');
}
@font-face {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 600;
	src: url('http://fonts.gstatic.com/s/hind/v5/H5ZRvR26a6Cs1DtBSeVD3gLUuEpTyoUstqEm5AMlJo4.eot');
	src: local('Hind Semibold'),
	local('Hind-Semibold'),
	url('http://fonts.gstatic.com/s/hind/v5/H5ZRvR26a6Cs1DtBSeVD3gLUuEpTyoUstqEm5AMlJo4.eot?#iefix') format('embedded-opentype'),
	url('http://fonts.gstatic.com/s/hind/v5/H5ZRvR26a6Cs1DtBSeVD3gLUuEpTyoUstqEm5AMlJo4.woff') format('woff'),
	url('http://fonts.gstatic.com/s/hind/v5/H5ZRvR26a6Cs1DtBSeVD3gLUuEpTyoUstqEm5AMlJo4.ttf') format('truetype');
}
@font-face {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 700;
	src: url('http://fonts.gstatic.com/s/hind/v5/fgyCwvtQA2Wvp7VnffftUwLUuEpTyoUstqEm5AMlJo4.eot');
	src: local('Hind Bold'),
	local('Hind-Bold'),
	url('http://fonts.gstatic.com/s/hind/v5/fgyCwvtQA2Wvp7VnffftUwLUuEpTyoUstqEm5AMlJo4.eot?#iefix') format('embedded-opentype'),
	url('http://fonts.gstatic.com/s/hind/v5/fgyCwvtQA2Wvp7VnffftUwLUuEpTyoUstqEm5AMlJo4.woff') format('woff'),
	url('http://fonts.gstatic.com/s/hind/v5/fgyCwvtQA2Wvp7VnffftUwLUuEpTyoUstqEm5AMlJo4.ttf') format('truetype');
}