.input-field {
	font-size: 0.9em;
	padding: 0.5em;
	width: 100%;
	border: 1px solid $main-content-border-color;
	background-color: white;
	box-sizing: border-box;
	@include appearance(none); // Remove browser native styling
}