.logo-icon {
	background: transparent image-url("logo.svg") left center no-repeat;
	width: 2em;
	height: 1.6em;
	padding-right: 0.3em;
	display: inline-block;
	vertical-align: middle;
}

.logo {
	font-family: 'Asap', sans-serif;
	font-size: 1.35em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: $logo-color;
	display: inline-block;

	&:hover {
		text-decoration: none;
		color: $logo-color;
	}

	&:before {
		@extend .logo-icon;
		content: "";
	}
}