/**
 * Default layout
 */

body {
	position: relative;
}

.wrapper {
	z-index: 20; // Required for mobile menu to work
	position: relative; // Required for mobile menu to work
	@include animation-duration(350ms);
	@include animation-timing-function(ease);
}

.mobile-menu {
	background: #222;
	color: white;
}

.section--centered {
	margin-left: auto;
	margin-right: auto;
}

.banner {
	position: relative;
	z-index: 10;
}

.main--banner-overlap {
	position: relative;
	z-index: 20;
}


// Chrome frame for old browsers
.chromeframe {
	margin: 0;
	background: #ccc;
	color: black;
	padding: 0.2em 0;
	position: absolute;
	top: 0;
	display: block;
	z-index: 9999;
}