/**
 * Default layout
 */
.wrapper {
	z-index: 20; // Required for mobile menu to work
	position: relative; // Required for mobile menu to work
	@include animation-duration(350ms);
	@include animation-timing-function(ease);
}

.mobile-menu {
	background: #222;
	color: white;
}

.section--centered {
	margin-left: auto;
	margin-right: auto;
}