.banner {
	@include transition (transform 350ms ease);
	background: transparent image-url('banner.png') no-repeat center center scroll;
	background-size: cover;
	height: 45em;
	padding: 2em;
}

.banner__button-important {
	@extend .button-important;
	color: $light-text-color;
	border-color: $light-text-color;
	width: 15em;
	display: block;
	margin: 0 auto;

	&:hover {
		background-color: $dark-text-color;
		border: 0;
		padding: 1.3em 1.1em;
		color: white;
	}
}

// Typography
.banner__slogan {
	position: relative;
	top: 45%;
	@include transform(translateY(-50%));
}

.banner__slogan-text {
	font-size: 3em;
	line-height: 1.3em;
	color: $light-text-color;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	width: 12em;
	margin: 0 auto;
}

// Divider
.banner__divider {
	@extend .divider;
	color: $light-text-color;
	margin-top: 1.2em;
	margin-bottom: 3em;
}