$footer-bg-color: #ECECEB;

.footer {
	background-color: $footer-bg-color;
	color: darken($footer-bg-color, 70%);
	padding: 0 1em 2em 1em;
	text-align: center;
}

.footer__contact-info {
	margin: 0 auto;
}

.footer__heart-icon:before {
	@extend %heart-icon;
	font-size: 1.5em;
	margin: -0.85em auto 0.5em auto;
	display: inline-block;
	line-height: 1.1em;
	height: 1em;
	vertical-align: middle;
}

.footer__copyright {
	text-transform: uppercase;
	font-size: 0.8em;
	color: darken($footer-bg-color, 60%);
	letter-spacing: 0.2em;

	&:after {
		background-color: darken($footer-bg-color, 20%);
		vertical-align: middle;
		content: "";
		width: 4em;
		height: 0.1em;
		display: block;
		margin: 2em auto 3.5em auto;
	}
}