.main {
	background: $bg-color;

	/*
	 * I know, it's ugly, but adding classes to every paragraph
	 * is not an option when writing content in a CMS.
	 */
	p > a {
		@extend %base-link;
	}
}

.main__section {
	color: $body-text-color;
	font-family: Cambo, serif, 'Times New Roman';
	font-size: 1.05em;
	margin-bottom: 8em;

	&:last-child {
		margin-bottom: 0;
	}
}

.main__section--centered {
	@extend .main__section;
	max-width: 45em;
	margin-right: auto;
	margin-left: auto;
}

.main__image--centered {
	display: block;
	margin: -65px auto 3.5em auto; // Height is fixed at 130px (130/2 == 65)
	border: 0.5em solid $bg-color;
	border-radius: 100%;
	@include filter(#{'grayscale(100%)'});
}

.main__h2 {
	@extend %headline;
	color: $dark-text-color;
	font-size: 2.1em;
	text-align: center;
	line-height: 1.3em;
	margin-bottom: 1.2em;
	letter-spacing: 0.1em;
}