.services {
	background-color: $dark-bg-color;
	padding: 1.5em 1em;
	box-sizing: border-box;

	.section--centered {
		margin: 0 auto;
	}
}

// Breakpoints
@media all and (min-width: $bp-medium) {
	.services .section--centered {
		max-width: 45em;
	}
}

@media  all and (min-width: $bp-large) {
	.services .section--centered {
		max-width: 64em;
	}
}