/**
 * Variables
 */

// Base colors
$base-color: #d62935;

// Background colors
$bg-color: #fffcf7;
$dark-bg-color: #F5EDE2;

// Text colors
$light-text-color: #fff8e6;
$dark-text-color: #C65454;
$secondary-dark-text-color: #A9585B;
$body-text-color: #565a67;

// Borders
$main-content-border-color: #d6d3cf;

//Links
$link-color: #63a758;
$link-hover-color: darken($link-color, 10%);
$link-visited-color: #2f132b;

//Logo
$logo-color: #efefef;

//Mobile
$mobile-menu-width: 15em;
$mobile-menu-negative-width: -15em;

// Paths
$font-path: '../../fonts';