/**
 * Variables
 */
// Base colors
$base-color: #469a73;
$primary-bg-color: #f3f5f0;

//Links
$link-visited: #000;

//Mobile
$mobile-menu-width: 15em;
$mobile-menu-negative-width: -15em;


// Paths
$font-path: '../../fonts';