/**
 * Mobile menu
 * Todo: Fix BEM class names
 */

.mobile-menu {
	position: absolute;
	color: white;
	background-color: $tertiary-dark-bg-color;
	width: $mobile-menu-width;
	font-family: 'Asap', sans-serif;
	height: 100%;
	top: 0;
	z-index: 0;
	@include transition (transform 350ms ease);
}

.menu-item {
	color: #fff;
	text-decoration: none;
	font-size: 0.9em;
	padding: .4em 1.2em;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	&:hover {
		color: rgba(255,255,255,0.4);
	}
}

.menu-item--active {
	@extend .menu-item;
	font-weight: bold;
}

/* Orientation-dependent styles for the content of the menu */

.menu-right {
	right: 0;
}

.menu-closed {
	overflow: hidden;
	max-height: 100%;
}

.menu-animate-left {
	-webkit-transform: translate3d($mobile-menu-negative-width, 0, 0);
	transform: translate3d($mobile-menu-negative-width, 0, 0);
}

.menu-open {
	position: relative !important;
	width: auto !important;
}

// Search
.menu__search {
	height: 3em;
	background: rgba(0,0,0,0.3);
	margin-bottom: 0.8em;
}

.menu__search-field {
	background: none;
	border: 0;
	height: 100%;
	padding: 0.5em 0.5em 0.5em 1em;
	font-size: 0.9em;
	width: 80%;
	color: white;
	box-sizing: border-box;
}

.menu__button-search {
	background: none;
	border: 0;
	height: 100%;
	width: 18%;
	text-align: center;

	&:before {
		@extend %search-button;
		color: white;
	}
}