$max-width: 25em;
$bullet-diameter: 0.5em;

.testimonial__image {
	border: 4px solid white;
	border-radius: 100%;
	display: block;
	vertical-align: middle;
	margin: 0 auto 2em auto;
}

%quotation-symbol {
	color: $tertiary-dark-text-color;
	display: inline-block;
	vertical-align: bottom;
	font-size: 2.5em;
	line-height: 0.2em;
}

.testimonial__quote {
	font-size: 1.6em;
	line-height: 1.5em;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	color: white;
	max-width: $max-width;
	text-align: center;
	display: block;
	margin: 0 auto;

	&:before {
		@extend %quotation-symbol;
		content: "“";
		padding-right: 0.17em;
	}

	&:after {
		@extend %quotation-symbol;
		content: "”";
		padding-left: 0.07em;
		margin-right: -0.8em; // Fix to not mess up text centering
	}
}

.testimonial__quote-author {
	color: $secondary-light-text-color;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
	font-family: 'Asap', sans-serif;
	text-align: center;
	letter-spacing: 0.05em;
	display: block;
	margin-top: 0.9em;

	&:before {
		content: "";
		border-top: 3px solid #251b20;
		color: #251b20;
		font-weight: 700;
		font-size: 2em;
		width: 0.5em;
		margin-right: 0.3em;
		vertical-align: middle;
		display: inline-block;
	}
}

.testimonials__bullets {
	text-align: center;
	max-width: $max-width;
	list-style: none;
	display: block;
	margin: 1.5em auto 0 auto;
	padding: 0;
}

.testimonials__bullet {
	display: inline-block;
	height: $bullet-diameter;
	width: $bullet-diameter;
	border-radius: $bullet-diameter;
	background-color: rgba(255,255,255,0.5);
	margin-right: 0.4em;

	&:last-child {
		margin-right: 0;
	}
}

.testimonials__bullet--active {
	@extend .testimonials__bullet;
	background-color: white;
}